<section>
	<app-section-title title="Our services"></app-section-title>
	<p class="description">We provide to you the best choiches for you. Adjust it to your health needs and make sure your undergo treatment with our highly qualified doctors you can consult with us which type of service is suitable for your health</p>
	<div class="services">
		<app-service title="Search doctor" description="Choose your doctor from thousands of specialist, general, and trusted hospitals" image="./assets/search.svg"></app-service>
		<app-service title="Online pharmacy" description="Buy  your medicines with our mobile application with a simple delivery system" image="./assets/medicine.svg"></app-service>
		<app-service title="Consultation" description="Free consultation with our trusted doctors and get the best recomendations" image="./assets/consultation.svg"></app-service>
		<app-service title="Details info" description="Free consultation with our trusted doctors and get the best recomendations" image="./assets/details.svg"></app-service>
		<app-service title="Emergency care" description="You can get 24/7 urgent care for yourself or your children and your lovely family" image="./assets/emergency.svg"></app-service>
		<app-service title="Tracking" description="Track and save your medical history and health data" image="./assets/tracking.svg"></app-service>
	</div>
	<app-button text="Learn more"></app-button>
</section>