<section>
	<app-section-title title="Check out our latest article"></app-section-title>
	<div class="articles">
		<app-article image="./assets/articles/article-1.png" title="Disease detection, check up in the laboratory" description="In this case, the role of the health laboratory is very important to do a disease detection..."></app-article>
		<app-article image="./assets/articles/article-2.png" title="Herbal medicines that are safe for consumption" description="Herbal medicine is very widely used at this time because of its very good for your health..."></app-article>
		<app-article image="./assets/articles/article-3.png" title="Natural care for healthy facial skin" description="A healthy lifestyle should start from now and also for your skin health. There are some..."></app-article>
	</div>
	<app-button text="View all"></app-button>
</section>