<footer>
	<div class="footer-container">
		<img src="./assets/logo-light.svg" alt="Trafalgar logo" />
		<p>Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone</p>
		<p class="copyrigth">©Trafalgar PTY LTD 2020. All rights reserved</p>
	</div>
	<app-footer-section title="Company" [links]="companyLinks"></app-footer-section>
	<app-footer-section title="Region" [links]="regionLinks"></app-footer-section>
	<app-footer-section title="Help" [links]="helpLinks"></app-footer-section>
</footer>
